@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
	src: url('../fonts/montserrat/Montserrat-ExtraBoldd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
	src: url('../fonts/montserrat/Montserrat-SemiBoldd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Medium.eot');
	src: url('../fonts/montserrat/Montserrat-Mediumd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Regular.eot');
	src: url('../fonts/montserrat/Montserrat-Regulard41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-ExtraLight.eot');
	src: url('../fonts/montserrat/Montserrat-ExtraLightd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Light.eot');
	src: url('../fonts/montserrat/Montserrat-Lightd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Thin.eot');
	src: url('../fonts/montserrat/Montserrat-Thind41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Black.eot');
	src: url('../fonts/montserrat/Montserrat-Blackd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Bold.eot');
	src: url('../fonts/montserrat/Montserrat-Boldd41dd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
		url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
